# rewrite 复写远程订阅
# 远程复写模块，内包含主机名hostname以及复写rewrite规则
# update-interval 为更新时间参数，单位 秒, 默认更新时间为 24*60*60=86400 秒，也就是24小时.
# opt-parser=true/false 用于控制是否对本订阅 开启资源解析器，不写或者 false 表示不启用解析器;
# 支持本地/iCloud的复写规则文件，位于Quantumult X/Profiles路径下
# update 24-03-06
  
# [rewrite_remote]

# 功能性
https://raw.githubusercontent.com/VirgilClyne/iRingo/main/snippet/Location.snippet, tag= iRingo: 地图定位服务, update-interval=172800, opt-parser=true, enabled=true
https://raw.githubusercontent.com/VirgilClyne/iRingo/main/snippet/Siri.snippet, tag= iRingo: Siri与搜索, update-interval=172800, opt-parser=true, enabled=true
https://raw.githubusercontent.com/githubdulong/Script/master/jd_price2.sgmodule, tag=京东历史价格, update-interval=172800, opt-parser=true, enabled=true
https://raw.githubusercontent.com/ddgksf2013/Rewrite/master/Function/Bilibili_CC.conf, tag=B站繁体, update-interval=172800, opt-parser=false, enabled=true
https://raw.githubusercontent.com/NobyDa/Script/master/Surge/Module/TestFlightDownload.sgmodule, tag=解除 TF 限制, update-interval=172800, opt-parser=true, enabled=true
https://raw.githubusercontent.com/bai1zi/shadowrocket-surge-loon-qx/main/Netflix.sgmodule, tag=Netflix评分, update-interval=172800, opt-parser=true, enabled=true


# Cookie获取重写
https://raw.githubusercontent.com/chxm1023/Task/main/TieBa/TieBa_cookie.js, tag=chxm1023贴吧获取Cookie, update-interval=172800, opt-parser=false, enabled=false
https://raw.githubusercontent.com/WowYiJiu/Personal/main/YiJiu_GetCookie.conf, tag=WowYiJiu-cookie, update-interval=172800, opt-parser=true, enabled=false
https://github.com/chiupam/surge/raw/main/Surge/Task.sgmodule, tag=Chiupam-Task, update-interval=172800, opt-parser=true, enabled=false
https://raw.githubusercontent.com/fmz200/wool_scripts/main/QuantumultX/rewrite/cookies.snippet, tag=fmz200重写cookie, update-interval=172800, opt-parser=true, enabled=false
https://raw.githubusercontent.com/wf021325/qx/master/task/hzh.js, tag=华住会token, update-interval=172800, opt-parser=true, enabled=false
https://raw.githubusercontent.com/ClydeTime/Quantumult/main/Task/Remote_Cookie.conf, tag=Cookie获取, update-interval=172800, opt-parser=false, enabled=false
https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/script/tieba/tieba_signin.qxrewrite, tag=blackmatrix7贴吧_获取Cookie, update-interval=86400, opt-parser=false, enabled=false
https://gist.githubusercontent.com/Sliverkiss/865c82e42a5730bb696f6700ebb94cee/raw/mxbc.js, tag=蜜雪冰城, update-interval=172800, opt-parser=true, enabled=false
https://raw.githubusercontent.com/wf021325/qx/master/task/ampDache.js, tag=高德地图签到, update-interval=172800, opt-parser=true, enabled=false
https://gist.githubusercontent.com/Sliverkiss/33800a98dcd029ba09f8b6fc6f0f5162/raw/aliyun.js, tag=阿里云盘签到, update-interval=172800, opt-parser=true, enabled=false


# 会员解锁
https://whatshub.top/rewrite/colorwidgets.conf, tag=Colorwidgets, update-interval=172800, opt-parser=false, enabled=true
https://raw.githubusercontent.com/WeiGiegie/666/main/wxds.js, tag=微信读书VIP, update-interval=172800, opt-parser=true, enabled=false
https://raw.githubusercontent.com/chxm1023/Rewrite/main/Reheji.js, tag=Clipboard系列, update-interval=172800, opt-parser=true, enabled=true
https://raw.githubusercontent.com/Yu9191/Rewrite/main/adblockpro.js, tag=ADblock, update-interval=172800, opt-parser=true, enabled=false
https://raw.githubusercontent.com/chxm1023/Rewrite/main/Revenuecat/PhotoRoom.js, tag=PhotoRoom解锁, update-interval=172800, opt-parser=true, enabled=true
https://raw.githubusercontent.com/Yu9191/Rewrite/main/spark.js, tag=Spark, update-interval=172800, opt-parser=true, enabled=true
https://raw.githubusercontent.com/I-am-R-E/QuantumultX/main/MeiYanXiangJi.conf, tag=美颜相机vip, update-interval=172800, opt-parser=true, enabled=false
https://raw.githubusercontent.com/Yu9191/Rewrite/main/shimowendang.js, tag=石墨vip, update-interval=172800, opt-parser=true, enabled=true
https://raw.githubusercontent.com/yqc007/QuantumultX/master/VideoFusionVipCrack.js, tag=剪映, update-interval=172800, opt-parser=true, enabled=false


# 去广告
  # Pixiv, 美团, 豆瓣, 知乎, AD, 百度贴吧, WPS, 小红书, 什么值得买, 菜鸟, 微博国际, 微博, 网页, 高德地图, MyblockAds, 哔哩哔哩, Keep, 小程序净化, IT之家, HTTPDNS, 神机重定向
https://github.com/ddgksf2013/Scripts/raw/master/pixivAds.js, tag=Pixiv广告, update-interval=172800, opt-parser=true, enabled=true
https://raw.githubusercontent.com/bai1zi/shadowrocket-surge-loon-qx/main/meituan.sgmodule, tag=美团广告, update-interval=172800, opt-parser=true, enabled=true
https://github.com/ddgksf2013/Rewrite/raw/master/Html/Douban.conf, tag=豆瓣广告, update-interval=172800, opt-parser=true, enabled=true
https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/script/zheye/zheye.sgmodule, tag=知乎去广告, update-interval=86400, opt-parser=true, enabled=true
https://raw.githubusercontent.com/Crazy-Z7/AdGuard/main/Ad.conf, tag=Ad, update-interval=172800, opt-parser=true, enabled=true
https://raw.githubusercontent.com/app2smile/rules/master/module/tieba.sgmodule, tag=百度贴吧超级去广告, update-interval=172800, opt-parser=true, enabled=true
https://raw.githubusercontent.com/NobyDa/Script/master/Surge/JS/Wps.js, tag=wps  noby, update-interval=172800, opt-parser=true, enabled=true
https://raw.githubusercontent.com/RuCu6/QuanX/main/Rewrites/Cube/xiaohongshu.snippet, tag=小红书去广告, update-interval=172800, opt-parser=false, enabled=true
https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/script/smzdm/smzdm_remove_ads.qxrewrite, tag=什么值得买去广告, update-interval=172800, opt-parser=true, enabled=true
https://raw.githubusercontent.com/RuCu6/QuanX/main/Rewrites/Cube/cainiao.snippet, tag=菜鸟去广告, update-interval=172800, opt-parser=false, inserted-resource=true, enabled=true
https://raw.githubusercontent.com/Keywos/rule/main/module/weibous.sgmodule, tag=微博国际版去广告, update-interval=172800, opt-parser=true, enabled=true
https://raw.githubusercontent.com/RuCu6/QuanX/main/Rewrites/Cube/weibo.snippet, tag=微博去广告, update-interval=172800, opt-parser=false, inserted-resource=true, enabled=true
https://raw.githubusercontent.com/RuCu6/QuanX/main/Rewrites/WebPage.conf, tag=网页去广告, update-interval=172800, opt-parser=false, enabled=true
https://raw.githubusercontent.com/RuCu6/QuanX/main/Rewrites/Cube/amap.snippet, tag=高德地图去广告, update-interval=172800, opt-parser=false, inserted-resource=true, enabled=true
https://raw.githubusercontent.com/RuCu6/QuanX/main/Rewrites/MyBlockAds.conf, tag=MyBlockAds, update-interval=172800, opt-parser=false, inserted-resource=true, enabled=true
https://raw.githubusercontent.com/RuCu6/QuanX/main/Rewrites/Cube/bilibili.snippet, tag=哔哩哔哩去广告, update-interval=172800, opt-parser=false, inserted-resource=true, enabled=true
https://raw.githubusercontent.com/ddgksf2013/Rewrite/master/AdBlock/KeepStyle.conf, tag=Keep去广告, update-interval=172800, opt-parser=false, enabled=true
https://raw.githubusercontent.com/fmz200/wool_scripts/main/QuantumultX/rewrite/cleanup.snippet, tag=小程序净化, update-interval=172800, opt-parser=false, enabled=true
https://raw.githubusercontent.com/Repcz/Open-Proflies/main/QuantumultX/Rewrites/ITHome.snippet, tag=IT之家去广告, update-interval=172800, opt-parser=false, enabled=true
https://github.com/VirgilClyne/GetSomeFries/raw/main/snippet/HTTPDNS.Block.snippet, tag=阻止常见HTTPDNS, update-interval=172800, opt-parser=false, enabled=true
https://raw.githubusercontent.com/DivineEngine/Profiles/master/Quantumult/Rewrite/General.conf, tag=神机重定向, update-interval=86400, opt-parser=false, enabled=true


# Boxjs, substore
https://github.com/chavyleung/scripts/raw/master/box/rewrite/boxjs.rewrite.quanx.conf, tag=boxjs, update-interval=172800, opt-parser=false, enabled=true
https://raw.githubusercontent.com/sub-store-org/Sub-Store/master/config/QX.snippet, tag=substore, update-interval=172800, opt-parser=true, enabled=true


# 未开启 enabled=false
  # YouTube 解锁, YouTube 双语, TikTok
https://raw.githubusercontent.com/Maasea/sgmodule/master/YoutubeAds.sgmodule, tag=YouTube 解锁, update-interval=172800, opt-parser=true, enabled=false
https://raw.githubusercontent.com/DualSubs/YouTube/main/modules/DualSubs.YouTube.snippet, tag=YouTube 双语, update-interval=172800, opt-parser=false, enabled=false
https://raw.githubusercontent.com/Tartarus2014/Surge-Script/master/Unlock/TikTokUS.sgmodule, tag=tiktok区域解锁, update-interval=172800, opt-parser=true, enabled=false
https://raw.githubusercontent.com/Semporia/TikTok-Unlock/master/Quantumult-X/TikTok-US.conf, tag=TikTok, update-interval=86400, opt-parser=false, enabled=false
